
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #87ceeb;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

#day-list {
  font-size: 11px;
}
#day-list .temperature {
  font-size: 17px;
  font-weight: bold;
}
#day-list img {
  width: 80%;
}
#day-list hr {
  width: 30px;
  border-color: red;
  border-width: 2px;
}

#day-list {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#day-list div[class^="day-"] {
  float:left;
  width: 14%;
}

div.day-0 {
  display: none;
}
