
body {
  font-family: Arial, serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #23374d;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}


.day-summary {

  text-align: left;
}

#search {
  background-color: #e5e5e5;
  color: #000000;
}

#day-list {
  font-size: 11px;
  background-color: #e5e5e5;
}

.units {
  text-align: left;
}


.day-0 .details {

  text-align: center;
}


#day-list .temperature {
  font-size: 17px;
  font-weight: bold;
}

#day-list hr {
  width: 30px;
  border-color: red;
  border-width: 2px;
}
#day-list .day-0 .temperature{

  font-size: 20px;
}
#day-list .day-0 .details{

  font-size: 16px;
  margin: auto;
  width: 50%;
}
#day-list .day-0 .day-name{

  font-size: 16px;
}
#day-list .day-0 {

  color: #ffffff;
  background-color: #1089ff ;
}



div.day-7 {
  display: none;
}

div.icon img {
  width: 50%;
}