<html lang="en">
<head>

     <% include ../helpers/head %> 
    
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
  	<!--
    <% include ../helpers/navbar %>
-->
  
    <h1>What's the weather?</h1>
   <input id="search-button" class="search" type="text" placeholder="Enter your location">
  <button type="button" onClick="searchWeather()">Search</button>
  </div>
<!--
  <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div>
-->
  
  <div class="error-message"></div>
  <div class="current container">
  	<div class="col-sm">
  		<div class="label"></div>
	  	<div class="current-icon"></div>
	  	<div class="temp"></div>
	  	<div class="weather"></div>
	 </div>
  </div>
  
  <!-- <div class="location"></div><div class="city"></div> -->

  <div id="day-list" class="container">
  	<div class="row"></div>
  </div>
  <!--
  <button type="button" onClick="handleSignIn()">Login</button>

  <form onSubmit="handleMessageFormSubmit();" action="#">
  Title:</br>
  	<input id="post-title"></br>
  Body:</br>
  	<textarea id="post-body"></textarea>
  	<button>Submit</button>
  </form>

  <div id="post-listings"></div>
  -->
   <script id="parsely-cfg" src="//cdn.parsely.com/keys/weather.jasonviger.com/p.js"></script> 

</body>

</html>