<div class="grid-container seven-day-forecast">

	
		<div class="weather-day -today -boston -daytime" data-sunrise="633" data-sunset="1838" data-current="854">
			<div class="date">
				<span>Tuesday</span>,
				SEP 24			</div>

							<div class="overlay"></div>
				<div class="currently">
					<span class="temperature">69°</span>
					<div class="icon weather-icon -today broken-clouds wxicon-98"></div>
				</div>

				<div class="location" id="location">
					<button class="current-region" id="current-region">
						Boston, MA
						<span class="dropdown-arrow">
							<svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg>						</span>
					</button>

					<div class="locations-selector">
												<ul>
							<li>
								<a href="/ajax/weather-seven-day-forecast/?weather_city=Boston" data-city="Boston">
									Boston, MA								</a>
							</li>

															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Beverly" data-city="Beverly">
										Beverly, MA									</a>
								</li>
															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Brockton" data-city="Brockton">
										Brockton, MA									</a>
								</li>
															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Lawrence" data-city="Lawrence">
										Lawrence, MA									</a>
								</li>
															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Nashua" data-city="Nashua">
										Nashua, NH									</a>
								</li>
															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Plymouth" data-city="Plymouth">
										Plymouth, MA									</a>
								</li>
															<li>
									<a href="/ajax/weather-seven-day-forecast/?weather_city=Worcester" data-city="Worcester">
										Worcester, MA									</a>
								</li>
													</ul>

						<div class="zipcode" id="weather-zipcode-form">
							<h4>Enter Zipcode:</h4>
							<form action="" method="get">
								<input type="text" name="weather_zipcode" value="" id="weather-zipcode">
							</form>
						</div>
					</div>
				</div>
			
			<div class="highlo">
				<span class="high">77°</span>
				<span class="low">63°</span>
			</div>

							<p class="watch-forecast-trigger"><a href="#watch-forecast">Watch Forecast</a></p>
			
			
			<div class="description">
				<p class="textual">
					A few morning showers linger on the Cape. A mix of sun and clouds. Highs in the mid 70s.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 10%</div>
					<div class="condition"><span>WIND:</span> WSW 11 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:33 am</div>
					<div class="condition"><span>SUNSET:</span> 06:38 pm</div>
				</div>
			</div>
		</div>
					<div class="hashlinks top">
				<span>Jump to:</span>
				<a class="link24hours" href="#forecast-24-hours">24-Hour Forecast</a>
				<a class="link10days" href="#forecast-10-days">10-day Forecast</a>
			</div>
		
		
		<div class="weather-day -daytime" data-sunrise="634" data-sunset="1836" data-current="854">
			<div class="date">
				<span>Wednesday</span>,
				SEP 25			</div>

							<div class="icon weather-icon mostly-sunny wxicon-65"></div>
			
			<div class="highlo">
				<span class="high">74°</span>
				<span class="low">53°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Mostly sunny. Highs in the mid 70s inland, low 70s at the coast.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 0%</div>
					<div class="condition"><span>WIND:</span> N 11 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:34 am</div>
					<div class="condition"><span>SUNSET:</span> 06:36 pm</div>
				</div>
			</div>
		</div>
		
		
		<div class="weather-day -daytime" data-sunrise="635" data-sunset="1834" data-current="854">
			<div class="date">
				<span>Thursday</span>,
				SEP 26			</div>

							<div class="icon weather-icon partly-cloudy wxicon-66"></div>
			
			<div class="highlo">
				<span class="high">81°</span>
				<span class="low">56°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Increasing clouds. Highs near 80.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 0%</div>
					<div class="condition"><span>WIND:</span> WSW 16 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:35 am</div>
					<div class="condition"><span>SUNSET:</span> 06:34 pm</div>
				</div>
			</div>
		</div>
		
		
		<div class="weather-day -daytime" data-sunrise="636" data-sunset="1832" data-current="854">
			<div class="date">
				<span>Friday</span>,
				SEP 27			</div>

							<div class="icon weather-icon mostly-sunny wxicon-65"></div>
			
			<div class="highlo">
				<span class="high">75°</span>
				<span class="low">54°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Mostly sunny. Highs in the mid 70s, near 70 at the coast.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 0%</div>
					<div class="condition"><span>WIND:</span> WNW 12 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:36 am</div>
					<div class="condition"><span>SUNSET:</span> 06:32 pm</div>
				</div>
			</div>
		</div>
		
		
		<div class="weather-day -daytime" data-sunrise="637" data-sunset="1830" data-current="854">
			<div class="date">
				<span>Saturday</span>,
				SEP 28			</div>

							<div class="icon weather-icon partly-cloudy wxicon-66"></div>
			
			<div class="highlo">
				<span class="high">82°</span>
				<span class="low">58°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Partly cloudy and warm again. Highs in the low 80s.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 0%</div>
					<div class="condition"><span>WIND:</span> WNW 10 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:37 am</div>
					<div class="condition"><span>SUNSET:</span> 06:30 pm</div>
				</div>
			</div>
		</div>
		
		
		<div class="weather-day -daytime" data-sunrise="638" data-sunset="1829" data-current="854">
			<div class="date">
				<span>Sunday</span>,
				SEP 29			</div>

							<div class="icon weather-icon mostly-sunny wxicon-65"></div>
			
			<div class="highlo">
				<span class="high">76°</span>
				<span class="low">60°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Mostly cloudy and a bit cooler. Highs in the mid 70s, 60s on the coast.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 10%</div>
					<div class="condition"><span>WIND:</span> N 10 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:38 am</div>
					<div class="condition"><span>SUNSET:</span> 06:29 pm</div>
				</div>
			</div>
		</div>
		
		
		<div class="weather-day -daytime" data-sunrise="639" data-sunset="1827" data-current="854">
			<div class="date">
				<span>Monday</span>,
				SEP 30			</div>

							<div class="icon weather-icon partly-cloudy wxicon-66"></div>
			
			<div class="highlo">
				<span class="high">70°</span>
				<span class="low">52°</span>
			</div>

			
							<div class="more-toggle">
					<button class="more mobile-only">More <svg role="presentation" class="icon icon-chevron-small-down"><use xlink:href="https://whdh.com/wp-content/themes/vip/sunbeam/assets/svg/symbol-defs.svg#icon-chevron-small-down"></use></svg></button>
				</div>
			
			<div class="description">
				<p class="textual">
					Mix of sun and clouds. Highs in the low 70s.				</p>

				<div class="conditions">
					<div class="condition"><span>PRECIP:</span> 10%</div>
					<div class="condition"><span>WIND:</span> NE 11 MPH</div>
					<div class="condition"><span>SUNRISE:</span> 06:39 am</div>
					<div class="condition"><span>SUNSET:</span> 06:27 pm</div>
				</div>
			</div>
		</div>
		
		
	<div class="hashlinks bottom">
		<span>Jump to:</span>
		<a class="link24hours" href="#forecast-24-hours">24-Hour Forecast</a>
		<a class="link10days" href="#forecast-10-days">10-day Forecast</a>
	</div>

</div>